<body class="user_screen_img">
  <div class="showimage user_screen">
    <h1>Welcome, <%= @user.name %></h1>
    <h3>Username: <%= @user.username%></h3>
    <p style="text-align: center"><%= link_to "Edit Account", edit_user_path(@user)%></p>
  </div>
</body>
