<h1>Orders Index Page</h1>
<table class="table", style="width:100%;">
<tr>
  <th>User</th>
  <th>Order Id</th>
  <th>Order Quantity</th>
  <th>Order Show Page</th>
</tr>
<% current_user.orders.each do |order| %>
<tr>
  <td><%= order.user.name %></td>
  <td><%= order.id %></td>
  <td><%= order.items.count %></td>
  <td><%= link_to "Show Order", order_path(order)%></td>
</tr>
<% end %>
</table>
