
<h1>Items</h1>
<% @items.each do |item| %>
<%= item.title %>
	<% if item.active? %>
		<%= link_to "Add to Cart", cart_path(item_id: item.id), method: :post %>
	<% else %>
		<p>Item Retired</p>
	<% end %>
<% end %>
<%= link_to "View Cart", "/cart" %>
