/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   height: 100%;
 }

 body {
   margin: 0px;
 }

.title {
  background-color: black;
  display: flex;
  justify-content: space-between;
} .title a {
  color: wheat;
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
} .title h3 {
  margin-top: 28px;
}

.icon {
  display: flex;
  justify-content: space-between;
  margin: 10px;
} .icon h1{
  font-size: 35px;
  margin: 10px;
  color: wheat;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
    float: left;
    font-size: 25px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2b2b2d;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.w3-container button {
  margin-top: 10%;
  color: grey;
  display: flex;
} .w3-container button h3{
  margin: 0;
  color: white;
  }
.w3-button:hover {
  background-color: #2b2b2d;
}

td {
  margin: 5%;
  text-align: center;
}

.quantity {
  display: flex;
  justify-content: space-evenly;
}

/*Home Page*/

.home {
  background-image: url(https://images.unsplash.com/photo-1508931133503-b1944a4ecdd5?auto=format&fit=crop&w=3300&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  opacity: 0.7;
  height: 100%;
}

.order-header{
  display: flex;
  justify-content: space-between;
} .order-header h1{
  padding-top: 9%;
  margin: 0;
  font-size: 35px;
}

.dashboard-header h1{
  padding-top: 6%;
  margin: 0;
  font-size: 35px;
}

.sign-up {
  margin: 3%;
  float: right;
  width: 19%;
  height: 64%;
  background-color: #13141e;
} .sign-up h1{
  margin: 19%;
  justify-content: center;
  display: flex;
} .sign-up h1 a{
  color: white;
  text-decoration: none;
}

.home-form{
  width: 90%;
  margin: 10%;
} .home-form label{
    color: white;
  } .home-form input{
    width: 90%;
    height: 34px;
  } .home-form button{
      margin: 18% 10%;
      color: white;
      background-color: black;
    } .home-form button:hover {
      color: #9a2525;
    }

/**/

div.items-index {
  margin: 5px;
  width: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
} div.items-index img{
  width: 100%;
}

.items {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
}

.cart {
  display: flex;
  margin-top: 10px;
  color: white;
} .cart a{
  font-size: 20px;
  color: white;
} .cart h3{
  margin: 8px 0px;
} .cart:focus{

}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
} .pagination a {
  font-size: 20px;
}

h1, h3 {
  display: flex;
  justify-content: center;
}

.table{
  width: 98%;
  margin: 1%;
} .table th{
font-size: x-large;
} .table td {
  height: 70px;
  text-align: center;
  border: wheat solid;
  overflow: scroll;
  }

.items-index{
  border: black;
}

.container {
  border-top: solid;
  border-bottom: solid;
} .container h3 {
  color: border: wheat solid;
} .container h4 {
    text-align: center;
  }

.category-index{
  border: solid;
} .category-index h1 a{
    text-decoration: none;
  }

.clown{
  background-image: url(https://images.unsplash.com/photo-1509248961158-e54f6934749c?auto=format&fit=crop&w=1922&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size:cover;
  height: 100%;
}

.login-page {
  height: 70%;
  width: 22%;
  margin: 4%;
} .login-page h1{
  color: wheat;
  margin: 1%;
  } .login-page p{
    margin: 0;
    text-align: center;
  } .login-page p button {
    width: 50%;
    background-color: wheat;
    color: black;
  } .login-page h3 a{
    color: wheat;
    text-decoration: none;
  }
